.header__search-buttonClose {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 37px;
    background: url('../../../../asets/img/icons/close_black_24dp.svg');
    background-size: cover;
}
