@media  (max-width: 766px) {
    .container {
        padding: 0 calc(50vw - 160px)
    }

}

@media (min-width: 768px) and (max-width: 1440px){
    .container {
        padding: 0 calc(50vw - 384px);
    }
}

@media (min-width: 1440px) {
    .container {
        padding: 0 calc(50vw - 720px);
    }
}
