@font-face {
    font-family: 'MyriadPro';
    src: url('asets/fonts/MyriadPro-Light.ttf') format('truetype'),
         url('asets/fonts/MyriadPro-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
