.header__search-box-background {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    transition: 0.4s cubic-bezier(.28,.9,.21,.99) all;
    backdrop-filter: blur(4px);
    position: fixed;
}
