@media (max-width: 766px) {
    .header__navBox-buttonCart{
        display: grid;
        width: 37px;
        height: 37px;
        background: url('../../../../asets/img/icons/shopping_bag_black_24dp.svg');
        background-size: cover;
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .header__navBox-buttonCart{
        display: grid;
        margin-top: 20px;
        margin-right: 57px;
        width: 37px;
        height: 37px;
        background: url('../../../../asets/img/icons/shopping_bag_black_24dp.svg');
        background-size: cover;
    }
}

@media (min-width: 1440px) {
    .header__navBox-buttonCart{
        display: grid;
        margin-top: 20px;
        margin-right: 57px;
        width: 37px;
        height: 37px;
        background: url('../../../../asets/img/icons/shopping_bag_black_24dp.svg');
        background-size: cover;
    }
}

